@import "~bootstrap/scss/bootstrap";

body {
  background-image: url(../images/gears.jpg);
  background-size: inherit;
  background-position: center;
}

#names {
  font-family: 'Allerta Stencil', sans-serif;
  display: flex; 
  flex-direction: row;
  justify-content: center;
  margin-bottom: 6%;
}

