@import "~bootstrap/scss/bootstrap";

body {
  background-color: lightgreen;
}

#heading {
  text-align: center;
  margin: 7%;
  font-size: 26px;
}

#legoContainer {
  display: flex;
  justify-content: center;
}